body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    text-align: center;
    color: black;
    
    font-weight: bold;
}

.app{width: 50%;
    height: 400px;
    background-image: url("background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 90%;
}

h1{
    color: goldenrod;
    margin-top: 20%;
    
}

#message-el{
    font-style: italic;
}

#app{
    display:flex ;
    justify-content: center;
    align-items: center;
}

button{
    border: none;
    padding-top: 10px;
    color: #016f32;
    background-color: goldenrod;
    font-weight: bold;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 5px;
}

